html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #292929;
  margin: 0;
  font-size: 16px;
  line-height: 140%;
}

.typying_block {
  display: inline-block;
  padding: 20px;
  width: 45%;
  overflow: hidden;
  background-color: #fff;

}

.typying_block .text {
  position: relative;
  color: #03599b;
  font-size: 30px;
  font-weight: 600;
}

.typying_block .text.first-text {
  color: #000000;
}

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid #03599b;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {

  40%,
  60% {
    left: calc(100% + 4px);
  }

  100% {
    left: 0%;
  }
}


/* #region header */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(images/header_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_title {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 100%;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1.5px;
}

.menu_top {
  display: flex;
  justify-content: space-between;
}

.header_top {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .header_title {
    margin: 0;
    color: #fff;
    font-size: 34px;
  }
}

/* #endregion */
/* #region menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  height: 100vh;
  padding: 64px 72px;
  background-color: #e5e5e5;
}

.menu:target {
  transform: translateX(0%);
}

.menu_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.menu_logo {
  margin-bottom: 24px;
}

/* #endregion menu */
/* #region nav */
.menu_items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 0;
  margin-top: 0;
}

.menu_items li {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  list-style-type: none;
}

.nav_link {
  text-decoration: none;
  color: #292929;
}
.author_name{
  font-size: 30px;
  font-weight: 600;

}

/* #endregion nav */
/* #region main */
main {
  padding: 120px;
  background-color: #fff;
}

@media (max-width: 640px) {
  main {
    padding: 40px;
  }
}

/* #endregion main */
/* #region about_me */
.about_me {
  margin-bottom: 120px;
  margin: 0 auto;
  max-width: 90%;
  text-align: justify;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 60px;
}

.about_me_products {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media (max-width: 640px) {
  .about_me_products {
    flex-direction: column;
  }

  .about_me {
    margin: 40px;
  }
}

/* #endregion about_me */
/* #region product */
.projects {
  flex-basis: 324px;
}

.projects_photo {
  margin-bottom: 20px;
  width: 100%;
}
.project_title a{
  text-decoration: none;
  font-size: 24px;

}

.projects_title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 140%;
}

.projects_project {
  margin-top: 0;
  margin-bottom: 12px;
}

.product_price {
  margin: 0;
  font-weight: 800;
}

/* #endregion product */
/* #region project */
.about_me_title,
.projects_title {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.5px;
}

.projects {
  margin: 0 auto;
  margin-bottom: 120px;
}

.project {
  margin-bottom: 64px;
}

.project_photos {
  display: flex;
  gap: 3%;
  margin-bottom: 16px;
}


.photo_wide {
  width: 65%;
}

.photo_square {
  width: 32%;
}

@media (max-width: 640px) {
  .projects {
    margin: 0;
  }

  .about_me_title,
  .projects_title {
    font-size: 34px;
  }

  .project {
    margin-bottom: 34px;
  }
}

/* #endregion project */
/* #region Contact */


.contact {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.contact_title {
  flex-basis: 50%;
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.5px;
}

.contact_email_author,
.contact_phone_author {
  font-size: 24px;
  line-height: 40px;
}

.contact_content {
  flex-basis: 50%;
}

.contact a {
  text-decoration: none;
}

.contact_benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 800;
}

@media (max-width: 640px) {
  .contact {
    flex-direction: column;
  }

  .contact_benefits {
    text-align: center;
  }

  .contact_title {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
  }

  .contact_description {
    text-align: justify;
  }
  .about_me{
    width: 100%;
  }
}

/* #endregion How to buy */
/* #region Footer */
footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 560px;
  background-image: url(images/footer_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #endregion Footer */

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}